@import 'helpers';

@import 'spectre';
@import 'editor';

.cpp-content {
  max-width: 1200px;
  width: 90%;
  padding: 1rem 0;
  margin: 0 auto;
}

.cpp-view {
  margin: 1.5rem 0;
}

.btn.router-link-active {
  border-color: $primary-color;
}
