@import 'variables';

// Import components
@import 'components/main';

// Import spectre
@import 'node_modules/spectre.css/src/spectre';

.cpp-content {
  max-width: 1200px;
  width: 90%;
  padding: 1rem 0;
  margin: 0 auto;
}

.cpp-schemas {
  margin: 1.5rem 0;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.text-dark {
  color: $dark-color;
}

.menu {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu .menu-badge {
  font-size: .6rem;
  padding: .35rem 0;
}

.menu .pagination {
  padding-top: 1.5rem;
}

.ace_editor {
  height: 350px;
}

.panel .panel-body {
  padding: 1.2rem .8rem;
}

.table.table-inline {
  display: inline-table;
}
