$cols: 12;
$breakpoints: (
  xs: 0,
  sm: 48em,
  md: 64em,
  lg: 75em,
);

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-bottom: 1rem;
  margin-left: -.5rem;

  -webkit-box-flex: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  &.no-spacing {
    margin-bottom: 0;
  }

  .reverse {
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
  }
}

.col.reverse {
  flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}

@mixin cols-base($breakpoint, $width) {
  @if $width > 0 {
    .container {
      width: calc(#{$width} + 1em);
    }
  }

  .col-#{$breakpoint} {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
    -webkit-box-flex: 0;
  }

  .col-#{$breakpoint} {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    -webkit-box-flex: 1;
  }

  .start-#{$breakpoint} {
    justify-content: flex-start;
    text-align: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  }

  .center-#{$breakpoint} {
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .end-#{$breakpoint} {
    justify-content: flex-end;
    text-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  }

  .top-#{$breakpoint} {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .middle-#{$breakpoint} {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .bottom-#{$breakpoint} {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
  }

  .around-#{$breakpoint} {
    justify-content: space-around;
    -ms-flex-pack: distribute;
  }

  .between-#{$breakpoint} {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  .first-#{$breakpoint} {
    order: -1;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
  }

  .last-#{$breakpoint} {
    order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  @for $col from 1 through $cols {
    .col-#{$breakpoint}-#{$col},
    .col-#{$breakpoint}-offset-#{$col} {
      @extend .col-#{$breakpoint};
    }

    .col-#{$breakpoint}-#{$col} {
      flex-basis: percentage((100 / $cols) * ($col * .01));
      max-width: percentage((100 / $cols) * ($col * .01));
      -ms-flex-preferred-size: percentage((100 / $cols) * ($col * .01));
    }

    .col-#{$breakpoint}-offset-#{$col} {
      margin-left: percentage((100 / $cols) * ($col * .01));
    }
  }
}

@each $breakpoint, $width in $breakpoints {
  @media only screen and (min-width: #{$width}) {
    @include cols-base($breakpoint, $width);
  }
}
