.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.text-dark {
  color: $dark-color;
}

.flush-padding {
  padding: 0 !important;
}

.flush-margin {
  margin: 0 !important;
}
