.f-center {
  justify-content: center;
}

.f-middle {
  align-items: center;
}

.f-end {
  justify-content: flex-end;
}

.f-start {
  justify-content: flex-start;
}

.text-dark {
  color: $dark-color;
}

.flush-padding {
  padding: 0 !important;
}

.flush-margin {
  margin: 0 !important;
}
